@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,800;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    /* scroll-behavior: smooth; */
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background:#fbfbfb;
}

::-webkit-scrollbar-thumb {
    background: #EF7F65; 
    border-radius: 10px;
  }

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.container {
    width: 1140px;
    margin-right: auto;
    margin-left: auto;
}

.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px 0;
}

.site-map{
    width: 40%;
}

.main-nav{
    width: 40%;
    display: flex;
    justify-content: end;
}

.main-nav a{
    padding-bottom: 10px;
    margin: 0 20px;
    /* border-bottom: 1px solid #262524; */
    font-size: 16px;
    font-weight: 300;
    color: #262524;
}

.main-nav a:hover{
    padding-bottom: 10px;
    border-bottom: 1px solid #262524;
    color: #262524;
}

.nav-user{
    width: 19%;
    margin-left: 15px;
}

.btn{
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #EF7F65;
}

.btn-one{
    background-color: #EF7F65;
    color: #fff;
    font-size: 16px;
    border-radius: 25px;
}

.btn-one:hover{
    border: 1px solid #EF7F65;
    background-color: #fff;
    color: #EF7F65;
    transition: 0.5s;
}

.section-1{
    /* display: flex;
    justify-content: center; */
    background-image: url("/assets/img/hero-image.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: auto;
    padding: 0px 15px 820px 15px;
}

.hero-text{
    margin: 120px 0 40px 0;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    color: #262524;
    
}

.hero-para{
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    text-align: center;
    padding: 10px 0;
    color: #506270;
}

.hero-btn{
    text-align: center;
    margin-top: 40px;

}

.btn-two{
    border: 1px solid #262524;
    border-radius: 25px;
    font-size: 16px;
    padding: 15px 30px;
    color: #262524;
}

.btn-two:hover{
    background-color: #262524;
    color: #fff;
    transition: 0.5s;
}

.section-2{
    position: relative;
    background-color: #EFF8FF;
    padding: 100px 0;
    display: flex;
    justify-content: center;
}

.blob-section{
    
   width: 450px;
   padding: 0 40px;
}

.ribbon{
    position: absolute;
    top: -5%;
    left: 10%;
}

.blob-section img{
    width: 100px;
}
.blob-section h1{
    font-size: 28px;
    font-weight: 400;
    padding: 15px 0;
}
.blob-section p{
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    padding: 10px 0;
    color: #506270;
}
.section-3{
    position: relative;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-3-content-left{
    /* display: flex;
    align-items: center; */
}

.section-3-content-left h1{
    font-size: 40px;
    font-weight: 400;
}

.section-3-content-left p{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding: 40px 0;
}

.newslatter{
    width: 100%;
    position: relative;
    display: flex;
}

.newslatter input{
    width: 360px;
    height: auto;
    font-size: 16px;
    border: none;
    background-color: rgba(128, 224, 221, 0.2);
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
    color: #80E0DD;

}
.newslatter input::placeholder {
    color: #80E0DD;
    opacity: 1; /* Firefox */
  }
.btn-three{
    padding: 15px 25px;
    border: 1px solid #80E0DD;
    background: #80E0DD;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

.btn-three:hover{
   border: 1px solid #80E0DD;
   background-color: #fff;
   color: #80E0DD;
   cursor: pointer;
   transition: 0.5s;
}

.section-3-content-right{
    text-align: right;
}

.section-3-content-right img{
    width: 580px;
}

.section-4{
    position: relative;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-4-content-left{
    text-align: left;
}

.section-4-content-left img{
    width: 580px;
}

.section-4-content-right h1{
    font-size: 40px;
    font-weight: 400;
}

.section-4-content-right p{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding: 40px 0;
}

.btn-four{
    padding: 15px 25px;
    border: 1px solid #ef7f65;
    background: #ef7f65;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

.btn-four:hover{
   border: 1px solid #ef7f65;
   background-color: #fff;
   color: #ef7f65;
   cursor: pointer;
   transition: 0.5s;
}

.section-5{
    position: relative;
    padding: 100px 0;
    
}

.section-5-heading h1{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}
.section-5-heading p{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    line-height: 32px;
    color: #506270;
    padding: 20px 0;
}

.pricing-table{
    display: flex;
    justify-content: center;
}

.pricing-table-one, .pricing-table-two{
    padding: 40px 100px 40px 40px;
    margin: 30px;
    border: 1px solid #80e0dd;
    border-radius: 10px;
}

.upper-content{
    border-bottom: 1px solid #80e0dd;
}

.pricing{
    padding: 30px 0;
    color: #262524;
}

.currency{
    font-size: 20px;
}

.price{
    font-size: 40px;
}

.period{
    font-size: 18px;
}
.lower-content{
    margin: 40px 0;
}

.lower-content ul li{
    padding: 10px 0;
    color: #506270;
}
.btn-five{
    background-color: #80e0dd;
    color:#fff;
    font-size: 16px;
    font-weight: 400;
    border-radius: 25px;
    border: 1px solid #80e0dd;
}
.btn-five:hover{
    border: 1px solid #80e0dd;
    background-color: #fff;
    color:#80e0dd;
    transition: 0.5s;
}