@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    /* scroll-behavior: smooth; */
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background:#fbfbfb;
}

::-webkit-scrollbar-thumb {
    background: #EF7F65; 
    border-radius: 10px;
  }

a{
    text-decoration: none;
}

.container {
    width: 100%;
    padding: 0 350px;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
}

.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px 0;
}

.site-map{
    width: 40%;
}

.main-nav{
    width: 40%;
    display: flex;
    justify-content: end;
}

.main-nav a{
    padding-bottom: 10px;
    margin: 0 20px;
    /* border-bottom: 1px solid #262524; */
    font-size: 16px;
    font-weight: 300;
    color: #262524;
}

.main-nav a:hover{
    padding-bottom: 10px;
    border-bottom: 1px solid #262524;
    color: #262524;
}

.nav-user{
    width: 19%;
    margin-left: 15px;
}

.btn{
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 400;
}

.btn-one{
    background-color: #EF7F65;
    color: #fff;
    font-size: 16px;
    border-radius: 25px;
}

.btn-one:hover{
    border: 1px solid #EF7F65;
    background-color: #fff;
    color: #EF7F65;
    transition: 0.5s;
}

.section-1{
    /* display: flex;
    justify-content: center; */
    background-image: url("/assets/img/hero-image.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: auto;
    padding: 0px 15px 820px 15px;
}

.hero-text{
    margin: 120px 0 40px 0;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    
}

.hero-para{
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    text-align: center;
}

.hero-btn{
    text-align: center;
    margin-top: 40px;
}

.btn-two{
    border: 1px solid #262524;
    border-radius: 25px;
    font-size: 16px;
    color: #262524;
}

.btn-two:hover{
    background-color: #262524;
    color: #fff;
    transition: 0.5s;
}

.section-2{
    position: relative;
    background-color: #EFF8FF;
    padding: 100px 0;
    display: flex;
    justify-content: center;
}

.blob-section{
    
   width: 450px;
   padding: 0 40px;
}

.ribbon{
    position: absolute;
    top: -5%;
    left: 10%;
}

.blob-section img{
    width: 100px;
}
.blob-section h1{
    font-size: 28px;
    font-weight: 400;
    padding: 15px 0;
}
.blob-section p{
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    padding: 10px 0;
}
.section-3{
    position: relative;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-3-content-left{
    /* display: flex;
    align-items: center; */
}

.section-3-content-left h1{
    font-size: 40px;
    font-weight: 400;
}

.section-3-content-left p{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding: 30px 0;
}

.newslatter{
    width: 100%;
    position: relative;
    display: flex;
}

.newslatter input{
    width: 360px;
    height: auto;
    font-size: 16px;
    border: 2px solid #ef7f65;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #ef7f65;

}
.newsletter-btn{
    padding: 15px 25px;
    border: 1px solid #ef7f65;
    background: #ef7f65;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.section-3-content-right{
    text-align: right;
}

.section-3-content-right img{
    width: 580px;
}



    /* width: 100%;
    border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF; */